/* General Styles */


/* A. H. M. Imtiaj -->
    2110390  */


body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Navigation */

nav {
    background-color: #333;
    padding: 10px 0;
}

.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
    background-color: #575757;
    color: #ffcc00;
    border-radius: 4px;
}




/* Product page */


.product-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.product-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.product-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-content {
    padding: 20px;
}

.product-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.product-description {
    font-size: 1em;
    margin-bottom: 10px;
    line-height: 1.5;
}

/* Footer */

footer {
    background-color: #333;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
}

.footer-navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer-navbar li {
    margin: 0 20px;
}

.footer-navbar a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

.footer-navbar a:hover {
    background-color: #575757;
    color: #ffcc00;
    border-radius: 4px;
}

footer p {
    margin-top: 20px;
    font-size: 14px;
    color: #ccc;
}